*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow:  2px 4px 0 rgba(0,0,0,.2),0 25px 50px 0 rgba(0,0,0,.1) */
}
h1{
    color: #66ccff;
    font-size: 50px;
    font-weight: 500;
}
header,main,footer{
    width:550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    flex-direction: column;
}
#todo{
    text-align: center;
    min-height: 70px;
    width:100%;
    font-size: 24px;
    border: none ;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    transition: box-shadow .3s;

}
#todo:focus{
    box-shadow: 0 0 0 2px rgba(0, 174, 255, 0.5),
                0 0 0 4px rgba(0, 153, 255, 0.2);
}

.task{
    margin-top: 1px;
    margin-bottom: 1px;
    /* 不同元素间暂时有元素塌陷等下搞（其实没啥大问题（ */
    font-size: 24px;
    min-height: 80px;
    width: 550px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    position: relative;
}
.check{
    display: inline-block;
    margin:0 15px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.1s;
}
.check.checked{
    border-color: rgb(16, 199, 16);
}
.checked .tick {
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.lablespan{
    transform: translateY(-2px);
    transition: opacity 0.2s;
    transition: textDecoration 0.2s;
}
@media (hover:hover) {
.cross{
    visibility: hidden;
}    
.task:hover .cross{
    visibility: visible;
}
#clear:hover{
  text-decoration: underline;
}
#all:hover,#active:hover,#completed:hover{
    box-shadow: 0 0 0 1px rgba(0, 174, 255, 0.5),
                0 0 0 1px rgba(0, 153, 255, 0.2);
    border-radius:2px ;
}
}
.cross{
    position: absolute;
    right:5px;
    cursor: pointer;
    opacity: 0.5;
}

/* footer{
    height:20px;
} */
#statuscontainer{
    width:550px;
    position: relative;
    height: 20px;
    /* height: inherit; */
    /* display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center; */
}
#tab{
    position: absolute;
    left :0;
    top:0;
    visibility: hidden;
}
#status ul{
    white-space: nowrap;
}
#status ul li{
    margin-left: 5px;
    margin-right: 5px;
    display: inline! important;
    cursor: pointer;
}
.presentStatus{
    box-shadow: 0 0 0 2px rgba(0, 174, 255, 0.5),
                0 0 0 2px rgba(0, 153, 255, 0.2);
    border-radius: 2px;
}
#clear{
    position: absolute;
    right:0;
    top:0;
    visibility: hidden;
    cursor: pointer;
}
@media screen and (max-width: 550px) {
    header,main,footer,#statuscontainer,.task,#content2{
        width:100%
    }
}
@media screen and (max-width: 450px){
    #statuscontainer{
        height:50px;
    }
    #ulli{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        bottom: 10px;
    }

}